<a href="https://colab.research.google.com/github/rani-sikdar/PySpark/blob/main/spark_rani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
data = [
    (1,'sumit', 25),
    (2, 'prashant', 26),
    (3, 'rani', 27)
]

columns = ['id', 'name', 'age']

In [ ]:
ss = SparkSession.builder.appName('sparkdf').getOrCreate()
# ss.()

In [ ]:
df = ss.createDataFrame(data, columns)

In [ ]:
df.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|   sumit| 25|
|  2|prashant| 26|
|  3|    rani| 27|
+---+--------+---+

In [ ]:
type(df.age > 20)

pyspark.sql.column.Column

In [ ]:
#transformation 1  --- map, filter, select, groupBy, join, withColumn

filter_df = df.filter(df.age > 25)
filter_df.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  2|prashant| 26|
|  3|    rani| 27|
+---+--------+---+

In [ ]:
# transformation 2

res = filter_df.select("name", "age")
res.show() # action

+--------+---+
|    name|age|
+--------+---+
|prashant| 26|
|    rani| 27|
+--------+---+

In [ ]:
# action --- count, collect, show, save, take

print(res.count())
print(res.collect())
print(res.take(1))  ## first row

2
[Row(name='prashant', age=26), Row(name='rani', age=27)]
[Row(name='prashant', age=26)]

### creating a dataframe

In [ ]:
from pyspark.sql import SparkSession

sess = SparkSession.builder.appName('newsess').getOrCreate()

In [ ]:
# from list of tuples

d = [
    (1, 'aaa', 25),
    (2, 'bbb', 10),
    (3, 'ccc', 15),
    (4, 'ddd', 20)
]

col = ['id', 'name', 'marks']

df = sess.createDataFrame(d, col)
df.show()

+---+----+-----+
| id|name|marks|
+---+----+-----+
|  1| aaa|   25|
|  2| bbb|   10|
|  3| ccc|   15|
|  4| ddd|   20|
+---+----+-----+

In [ ]:
# from a csv
df = sess.read.format('csv').option("header","true").option("inferSchema",'true').load('/content/sample_data.csv')
df.show()

+---+-------+---+-----------+
| id|   name|age|       city|
+---+-------+---+-----------+
|  1|  Alice| 25|   New York|
|  2|    Bob| 30|Los Angeles|
|  3|Charlie| 35|    Chicago|
|  4|  David| 40|    Houston|
|  5|    Eva| 45|    Phoenix|
+---+-------+---+-----------+

In [ ]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)

In [ ]:
# from rdd
from pyspark.sql import SparkSession, Row

session = SparkSession.builder.appName('demo2').getOrCreate()

#sample rdd
rdd = session.sparkContext.parallelize([
    (1, 'aaa', 25),
    (2, 'bbb', 10),
    (3, 'ccc', 15),
    (4, 'ddd', 20)

])

col = ['id', 'name', 'marks']

In [ ]:
df = session.createDataFrame(rdd,col)
df.show()

+---+----+-----+
| id|name|marks|
+---+----+-----+
|  1| aaa|   25|
|  2| bbb|   10|
|  3| ccc|   15|
|  4| ddd|   20|
+---+----+-----+

In [ ]:
df2 = rdd.toDF(col)
df2.show()

+---+----+-----+
| id|name|marks|
+---+----+-----+
|  1| aaa|   25|
|  2| bbb|   10|
|  3| ccc|   15|
|  4| ddd|   20|
+---+----+-----+

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
type(df2)

pyspark.sql.dataframe.DataFrame

In [ ]:
# Using Row objects
rdd2 = rdd.map(lambda x: Row(id=x[0], name=x[1], age=x[2]))
df3= session.createDataFrame(rdd2)
df3.show()

+---+----+---+
| id|name|age|
+---+----+---+
|  1| aaa| 25|
|  2| bbb| 10|
|  3| ccc| 15|
|  4| ddd| 20|
+---+----+---+

In [ ]:
df_json = session.read.format('json').load('/content/titanic-parquet.json')
df_json.show()

+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
| Age|Cabin|Embarked|   Fare|                Name|Parch|PassengerId|Pclass|   Sex|SibSp|Survived|          Ticket|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
|22.0| NULL|       S|   7.25|Braund, Mr. Owen ...|    0|          1|     3|  male|    1|       0|       A/5 21171|
|38.0|  C85|       C|71.2833|Cumings, Mrs. Joh...|    0|          2|     1|female|    1|       1|        PC 17599|
|26.0| NULL|       S|  7.925|Heikkinen, Miss. ...|    0|          3|     3|female|    0|       1|STON/O2. 3101282|
|35.0| C123|       S|   53.1|Futrelle, Mrs. Ja...|    0|          4|     1|female|    1|       1|          113803|
|35.0| NULL|       S|   8.05|Allen, Mr. Willia...|    0|          5|     3|  male|    0|       0|          373450|
|NULL| NULL|       Q| 8.4583|    Moran, Mr. James|    0|          6|     3|  male|    0|       0|          330877|
|54.0|  E46|       S|51.8625|McCarthy, Mr. Tim...|    0|          7|     1|  male|    0|       0|           17463|
| 2.0| NULL|       S| 21.075|Palsson, Master. ...|    1|          8|     3|  male|    3|       0|          349909|
|27.0| NULL|       S|11.1333|Johnson, Mrs. Osc...|    2|          9|     3|female|    0|       1|          347742|
|14.0| NULL|       C|30.0708|Nasser, Mrs. Nich...|    0|         10|     2|female|    1|       1|          237736|
| 4.0|   G6|       S|   16.7|Sandstrom, Miss. ...|    1|         11|     3|female|    1|       1|         PP 9549|
|58.0| C103|       S|  26.55|Bonnell, Miss. El...|    0|         12|     1|female|    0|       1|          113783|
|20.0| NULL|       S|   8.05|Saundercock, Mr. ...|    0|         13|     3|  male|    0|       0|       A/5. 2151|
|39.0| NULL|       S| 31.275|Andersson, Mr. An...|    5|         14|     3|  male|    1|       0|          347082|
|14.0| NULL|       S| 7.8542|Vestrom, Miss. Hu...|    0|         15|     3|female|    0|       0|          350406|
|55.0| NULL|       S|   16.0|Hewlett, Mrs. (Ma...|    0|         16|     2|female|    0|       1|          248706|
| 2.0| NULL|       Q| 29.125|Rice, Master. Eugene|    1|         17|     3|  male|    4|       0|          382652|
|NULL| NULL|       S|   13.0|Williams, Mr. Cha...|    0|         18|     2|  male|    0|       1|          244373|
|31.0| NULL|       S|   18.0|Vander Planke, Mr...|    0|         19|     3|female|    1|       0|          345763|
|NULL| NULL|       C|  7.225|Masselmani, Mrs. ...|    0|         20|     3|female|    0|       1|            2649|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
only showing top 20 rows

In [ ]:
df_json.printSchema()

root
 |-- Age: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Ticket: string (nullable = true)

In [ ]:
df_json2= session.read.json('/content/titanic-parquet.json')
df_json2.show()

+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
| Age|Cabin|Embarked|   Fare|                Name|Parch|PassengerId|Pclass|   Sex|SibSp|Survived|          Ticket|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
|22.0| NULL|       S|   7.25|Braund, Mr. Owen ...|    0|          1|     3|  male|    1|       0|       A/5 21171|
|38.0|  C85|       C|71.2833|Cumings, Mrs. Joh...|    0|          2|     1|female|    1|       1|        PC 17599|
|26.0| NULL|       S|  7.925|Heikkinen, Miss. ...|    0|          3|     3|female|    0|       1|STON/O2. 3101282|
|35.0| C123|       S|   53.1|Futrelle, Mrs. Ja...|    0|          4|     1|female|    1|       1|          113803|
|35.0| NULL|       S|   8.05|Allen, Mr. Willia...|    0|          5|     3|  male|    0|       0|          373450|
|NULL| NULL|       Q| 8.4583|    Moran, Mr. James|    0|          6|     3|  male|    0|       0|          330877|
|54.0|  E46|       S|51.8625|McCarthy, Mr. Tim...|    0|          7|     1|  male|    0|       0|           17463|
| 2.0| NULL|       S| 21.075|Palsson, Master. ...|    1|          8|     3|  male|    3|       0|          349909|
|27.0| NULL|       S|11.1333|Johnson, Mrs. Osc...|    2|          9|     3|female|    0|       1|          347742|
|14.0| NULL|       C|30.0708|Nasser, Mrs. Nich...|    0|         10|     2|female|    1|       1|          237736|
| 4.0|   G6|       S|   16.7|Sandstrom, Miss. ...|    1|         11|     3|female|    1|       1|         PP 9549|
|58.0| C103|       S|  26.55|Bonnell, Miss. El...|    0|         12|     1|female|    0|       1|          113783|
|20.0| NULL|       S|   8.05|Saundercock, Mr. ...|    0|         13|     3|  male|    0|       0|       A/5. 2151|
|39.0| NULL|       S| 31.275|Andersson, Mr. An...|    5|         14|     3|  male|    1|       0|          347082|
|14.0| NULL|       S| 7.8542|Vestrom, Miss. Hu...|    0|         15|     3|female|    0|       0|          350406|
|55.0| NULL|       S|   16.0|Hewlett, Mrs. (Ma...|    0|         16|     2|female|    0|       1|          248706|
| 2.0| NULL|       Q| 29.125|Rice, Master. Eugene|    1|         17|     3|  male|    4|       0|          382652|
|NULL| NULL|       S|   13.0|Williams, Mr. Cha...|    0|         18|     2|  male|    0|       1|          244373|
|31.0| NULL|       S|   18.0|Vander Planke, Mr...|    0|         19|     3|female|    1|       0|          345763|
|NULL| NULL|       C|  7.225|Masselmani, Mrs. ...|    0|         20|     3|female|    0|       1|            2649|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
only showing top 20 rows

In [ ]:
df_par = session.read.parquet("/content/house-price.parquet")
df_par.show()

+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|   price| area|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|13300000| 7420|       4|        2|      3|     yes|       no|      no|             no|            yes|      2|     yes|       furnished|
|12250000| 8960|       4|        4|      4|     yes|       no|      no|             no|            yes|      3|      no|       furnished|
|12250000| 9960|       3|        2|      2|     yes|       no|     yes|             no|             no|      2|     yes|  semi-furnished|
|12215000| 7500|       4|        2|      2|     yes|       no|     yes|             no|            yes|      3|     yes|       furnished|
|11410000| 7420|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|      no|       furnished|
|10850000| 7500|       3|        3|      1|     yes|       no|     yes|             no|            yes|      2|     yes|  semi-furnished|
|10150000| 8580|       4|        3|      4|     yes|       no|      no|             no|            yes|      2|     yes|  semi-furnished|
|10150000|16200|       5|        3|      2|     yes|       no|      no|             no|             no|      0|      no|     unfurnished|
| 9870000| 8100|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|     yes|       furnished|
| 9800000| 5750|       3|        2|      4|     yes|      yes|      no|             no|            yes|      1|     yes|     unfurnished|
| 9800000|13200|       3|        1|      2|     yes|       no|     yes|             no|            yes|      2|     yes|       furnished|
| 9681000| 6000|       4|        3|      2|     yes|      yes|     yes|            yes|             no|      2|      no|  semi-furnished|
| 9310000| 6550|       4|        2|      2|     yes|       no|      no|             no|            yes|      1|     yes|  semi-furnished|
| 9240000| 3500|       4|        2|      2|     yes|       no|      no|            yes|             no|      2|      no|       furnished|
| 9240000| 7800|       3|        2|      2|     yes|       no|      no|             no|             no|      0|     yes|  semi-furnished|
| 9100000| 6000|       4|        1|      2|     yes|       no|     yes|             no|             no|      2|      no|  semi-furnished|
| 9100000| 6600|       4|        2|      2|     yes|      yes|     yes|             no|            yes|      1|     yes|     unfurnished|
| 8960000| 8500|       3|        2|      4|     yes|       no|      no|             no|            yes|      2|      no|       furnished|
| 8890000| 4600|       3|        2|      2|     yes|      yes|      no|             no|            yes|      2|      no|       furnished|
| 8855000| 6420|       3|        2|      2|     yes|       no|      no|             no|            yes|      1|     yes|  semi-furnished|
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
only showing top 20 rows

In [ ]:
df_par.printSchema()

root
 |-- price: long (nullable = true)
 |-- area: long (nullable = true)
 |-- bedrooms: long (nullable = true)
 |-- bathrooms: long (nullable = true)
 |-- stories: long (nullable = true)
 |-- mainroad: string (nullable = true)
 |-- guestroom: string (nullable = true)
 |-- basement: string (nullable = true)
 |-- hotwaterheating: string (nullable = true)
 |-- airconditioning: string (nullable = true)
 |-- parking: long (nullable = true)
 |-- prefarea: string (nullable = true)
 |-- furnishingstatus: string (nullable = true)

In [ ]:
df_par.write.parquet("path")

In [ ]:
#path folder created

In [ ]:
df3.show()

+---+----+---+
| id|name|age|
+---+----+---+
|  1| aaa| 25|
|  2| bbb| 10|
|  3| ccc| 15|
|  4| ddd| 20|
+---+----+---+

In [ ]:
df.show()

+---+-------+---+-----------+
| id|   name|age|       city|
+---+-------+---+-----------+
|  1|  Alice| 25|   New York|
|  2|    Bob| 30|Los Angeles|
|  3|Charlie| 35|    Chicago|
|  4|  David| 40|    Houston|
|  5|    Eva| 45|    Phoenix|
+---+-------+---+-----------+

In [ ]:
# dataframe operations

In [ ]:
df.select("name").show()

+-------+
|   name|
+-------+
|  Alice|
|    Bob|
|Charlie|
|  David|
|    Eva|
+-------+

In [ ]:
df.select("name", "age").show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
|  David| 40|
|    Eva| 45|
+-------+---+

In [ ]:
cols = ["name","age","city"]

df.select(*cols).show()

+-------+---+-----------+
|   name|age|       city|
+-------+---+-----------+
|  Alice| 25|   New York|
|    Bob| 30|Los Angeles|
|Charlie| 35|    Chicago|
|  David| 40|    Houston|
|    Eva| 45|    Phoenix|
+-------+---+-----------+

In [ ]:
# remove a column

df.drop("city").show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
df.show()

+---+-------+---+-----------+
| id|   name|age|       city|
+---+-------+---+-----------+
|  1|  Alice| 25|   New York|
|  2|    Bob| 30|Los Angeles|
|  3|Charlie| 35|    Chicago|
|  4|  David| 40|    Houston|
|  5|    Eva| 45|    Phoenix|
+---+-------+---+-----------+

In [ ]:
df= df.drop("city")
df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
df.withColumnsRenamed({"age":"new_age"}).show()

+---+-------+-------+
| id|   name|new_age|
+---+-------+-------+
|  1|  Alice|     25|
|  2|    Bob|     30|
|  3|Charlie|     35|
|  4|  David|     40|
|  5|    Eva|     45|
+---+-------+-------+

In [ ]:
df.selectExpr("age" ,"age * 2 as age2").show()

+---+----+
|age|age2|
+---+----+
| 25|  50|
| 30|  60|
| 35|  70|
| 40|  80|
| 45|  90|
+---+----+

In [ ]:
df.filter(df.age > 30).show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
df.where(df.age > 30).show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
df.filter( (df.age > 30) | (df.age < 20) ).show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
df.filter( (df.age > 30) & (df.name.startswith("A")) ).show()

+---+----+---+
| id|name|age|
+---+----+---+
+---+----+---+

In [ ]:
df.filter("name = 'Eva'").show()

+---+----+---+
| id|name|age|
+---+----+---+
|  5| Eva| 45|
+---+----+---+

In [ ]:
df.filter(df.age.isNull()).show()
df.filter(df.age.isNotNull()).show()

+---+----+---+
| id|name|age|
+---+----+---+
+---+----+---+

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
df.filter(df.age.between(25, 35)).show()  # age between 25 and 35
df.filter(df.name.isin("Alice", "Bob")).show()  # name in list

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
+---+-------+---+

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 25|
|  2|  Bob| 30|
+---+-----+---+

In [ ]:
# SQL LIKE patterns

df.filter(df.name.startswith("A")).show()
df.filter(df.name.contains("li")).show()
df.filter(df.name.like("E%")).show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 25|
+---+-----+---+

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  3|Charlie| 35|
+---+-------+---+

+---+----+---+
| id|name|age|
+---+----+---+
|  5| Eva| 45|
+---+----+---+

In [ ]:
df.createGlobalTempView("temp")

In [ ]:
session.sql("select * from global_temp.temp").show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
# aggregations

In [ ]:
df.groupBy("name").count().show()

+-------+-----+
|   name|count|
+-------+-----+
|    Eva|    1|
|Charlie|    1|
|    Bob|    1|
|  Alice|    1|
|  David|    1|
+-------+-----+

In [ ]:
# count , sum, avg, max, min

from pyspark.sql.functions import sum, avg, max , min, count_distinct, count_if

In [ ]:
# order by
"""
df.groupBy("department") \
  .agg(sum("salary").alias("total_salary")) \
  .orderBy("total_salary", ascending=False).show()

"""

'\ndf.groupBy("department")   .agg(sum("salary").alias("total_salary"))   .orderBy("total_salary", ascending=False).show()\n\n'

In [ ]:
df.orderBy("age").show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
df.sort("age").show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
# desc
from pyspark.sql.functions import col

df.orderBy(col("age").desc()).show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  5|    Eva| 45|
|  4|  David| 40|
|  3|Charlie| 35|
|  2|    Bob| 30|
|  1|  Alice| 25|
+---+-------+---+

In [ ]:
df.sort(df.age.desc()).show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  5|    Eva| 45|
|  4|  David| 40|
|  3|Charlie| 35|
|  2|    Bob| 30|
|  1|  Alice| 25|
+---+-------+---+

In [ ]:
df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
df.orderBy(["age","name"]).show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
df.orderBy(col("name").asc(), col("age").desc()).show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eva| 45|
+---+-------+---+

In [ ]:
from pyspark.sql.functions import rand

df.orderBy(rand()).show()   # random sort -- shuffle

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  2|    Bob| 30|
|  5|    Eva| 45|
|  4|  David| 40|
|  3|Charlie| 35|
|  1|  Alice| 25|
+---+-------+---+

In [ ]:
from pyspark.sql import SparkSession

sss = SparkSession.builder.appName("sparksql").getOrCreate()

In [ ]:
sss

In [ ]:
data = [
    (1, "Alice", 29),
    (2, "Bob", 31),
    (3, "Cathy", 27),
    (4, "David", 35)
]
cols = ["id", "name","age"]

In [ ]:
dff = sss.createDataFrame(data, cols)
dff.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 29|
|  2|  Bob| 31|
|  3|Cathy| 27|
|  4|David| 35|
+---+-----+---+

In [ ]:
# temp view

dff.createOrReplaceTempView("temp")

In [ ]:
dff

DataFrame[id: bigint, name: string, age: bigint]

In [ ]:
res= sss.sql("select * from temp")
res.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 29|
|  2|  Bob| 31|
|  3|Cathy| 27|
|  4|David| 35|
+---+-----+---+

In [ ]:
res= sss.sql("select * from temp where age >30")
res.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  2|  Bob| 31|
|  4|David| 35|
+---+-----+---+

In [ ]:
# Temp View (session-scoped) ---> Only available inside the current SparkSession.
# Global Temp View (cross-session) ----> Query requires global_temp database prefix

In [ ]:
dff.createGlobalTempView("temp2")

In [ ]:
res= sss.sql("select * from global_temp.temp2 where age >30")
res.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  2|  Bob| 31|
|  4|David| 35|
+---+-----+---+

In [ ]:
type(res)

pyspark.sql.dataframe.DataFrame

In [ ]:
from pyspark.sql import SparkSession

sess = SparkSession.builder.appName("demo3").getOrCreate()

In [ ]:
# explicit schema

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("age", IntegerType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", IntegerType(), True),
])

dff = sess.read.option("header","true").schema(schema).csv("/content/employee.csv")
dff.show()

+---+---+------+------+
| id|age|gender|salary|
+---+---+------+------+
|  1| 34|     0| 35760|
|  2| 21|     0| 23500|
|  3| 59|     1| 21000|
|  4| 45|     1| 45000|
|  5| 37|     0| 67050|
|  6| 26|     1| 37900|
|  7| 27|     0| 35800|
|  8| 39|     1| 45000|
|  9| 25|     1| 23060|
| 10| 67|     1| 39080|
| 11| 23|     0| 70900|
| 12| 57|     1| 29208|
| 13| 34|     0| 45000|
| 14| 45|     1| 24550|
| 15| 45|     0| 23080|
+---+---+------+------+

In [ ]:
dff.printSchema()

root
 |-- id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)